.menu{
    background-color: rgb(22, 45, 104);
    padding: 5%;    
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(249, 162, 0);
}

.menu ul{
    text-decoration: none;
    list-style: none;
}

.menu ul li a{
    color: white;
    text-decoration: none ;
}

.menu ul li a:hover{
    color: grey;
}